<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{chat.name}}">
  <ion-content class="padding">
    <img ng-src="{{chat.face}}">
    <h5>Ingredients</h5>
    <h6>{{chat.ingrediants}}</h6>
    <p>{{chat.no1}}</P>
    <p>{{chat.no2}}</P>
    <p>{{chat.no3}}</P>
    <p>{{chat.no4}}</P>
    <p>{{chat.no5}}</P>
    <h6>{{chat.ingrediants2}}</h6>
    <p>{{chat.no6}}</P>
    <p>{{chat.no7}}</P>
    <p>{{chat.no8}}</P>
    <p>{{chat.no9}}</P>
    <p>{{chat.no10}}</P>
    <h6>{{chat.method}}</h6>
    <p>{{chat.no11}}</p>
    <p>{{chat.no12}}</p>
    <p>{{chat.no13}}</p>
    <p>{{chat.no14}}</p>
    <p>{{chat.no15}}</p>
    
  </ion-content>
</ion-view>
