<ion-view view-title="Desserts">
  <ion-content>
   	<ion-list can-swipe="true">

		<div class="card item-text-wrap">
		<ion-item>
      		<img id="dessertOne" class="front" src="" alt="cheesecake">
      		<br>
      		<h2 id="dessertOne"></h2>
      		<p id="dessertOne"></p>
            <ion-option-button onclick="editPic()"><i class="button icon-left ion-camera button-dark"></i>Edit Pic</ion-option-button>
            <ion-option-button onclick="editDesc()"><i class="button icon-left ion-edit button-balanced"></i>Edit Name+Desc</ion-option-button>
      	</ion-item>
      	</div>
    </ion-list>
  </ion-content>
</ion-view>