<ion-view view-title="Lunch">
  <ion-content>
    <ion-list>

<div id="0" class="card item-text-wrap">
      <ion-item>
        <img id="lunch" class="front" src="img\toastie.png" alt="toastie">
        <br>
      	<h2 class="lunch">Ham and Cheese toastie</h2>
      	<p class="lunch">It's as simple as a toasted sandwich but it tastes better! In this recipe you don't need to put in the ham or the chives but you can add extra ingredients (onions etc.)</p>
      </ion-item>
</div>

    </ion-list>
  </ion-content>
</ion-view>